extends ./article.jade

append variables
	- article.title = "Thank you!"
	- article.subtitle = "We’ll stay in touch"
	- article.description = "You just got in touch with TRINN Consulting."
	- article.image = "mailthisto-mailman.png"
	- article.wallpaper = "mailthisto.jpg"
	- nesting.push({"node": "contact", "name": "Contact"})

block content
	h2 Message received
	p We will get back to you shortly. Please allow us some time to respond.
	p.call-to-action
		a.button(href="/") Back to our home page
