- article.headerTags = article.headerTags || []
header.article-header
	h1.article-title(class=article.headerTags[0])= article.title
	p.article-subtitle(class=article.headerTags[1])= article.subtitle
	if article.image
		p.article-image-frame.image-frame
			img.article-image.image(alt="", src="/img/"+article.image, class=article.headerTags[2])
