doctype html

block variables
	- var article = {}
	- var nesting = []
	- nesting.push({"node": "", "name": "TRINN"})

include mixins

html(lang=language)

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block title
		<!--[if gt IE 8]><!-->
		block styles
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya+Sans:700,400,100")
			if verbose
				link(rel="stylesheet", href="/css/style.css")
			else
				link(rel="stylesheet", href=link.to("/css/main.css"))
		include icon
		<!--<![endif]-->
		include oldie

	body
		include header
		main
			block main
		include footer
		<!--[if gt IE 9]><!-->
		block scripts
			if verbose
				script(async, src="/js/mailto.js")
			else
				script(async, src="/js/main.js")
		<!--<![endif]-->
