.page {
	position: relative;
	font-size: 11pt;
}

.article-header {
	position: relative;
	height: 9em;
	margin-bottom: 0;
	padding: 3em 0 0 25%;
	background: transparent !important;
	border-bottom-width: 1px;
	color: #000;
	text-align: left;
}
.article-header::before {
	content: none;
}

.article-image-frame {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
	padding: 0;
}
.article-image-frame::before,
.article-image-frame::after {
	content: none;
}

.article-image {
	margin-top: 0;
	width: auto;
	height: 100%;
}

.partner-image-frame {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 6.5em;
	width: 25%;
	border-top: 1px solid #000;
	text-align: center;
}
.partner-image-frame::before {
	content: "\A0";
	display: block;
	font-size: 8pt;
	margin-bottom: 1em;
	text-transform: uppercase;
}
html[lang="en"] .partner-image-frame::before {
	content: "In cooperation with";
}
html[lang="de"] .partner-image-frame::before {
	content: "In Zusammenarbeit mit";
}

.partner-image {
	max-height: 3.75em;
}

.page .company {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 9pt;
	font-weight: 700;
}

.page .company::after {
	content: "[ " attr(data-page) " / " attr(data-pages) " ]";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}
html[lang="en"] .page .company::after {
	content: "Page " attr(data-page) " of " attr(data-pages);
}
html[lang="de"] .page .company::after {
	content: "Seite " attr(data-page) " von " attr(data-pages);
}

.page .company-logo {
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	width: 25%;
}

.page .company-name {
	position: absolute;
	bottom: 0;
	left: 0;
}

.company-name [lang="no"] {
	text-transform: uppercase;
}

@media screen {

	html {
		background-color: #e3e3e3;
	}

	body::after {
		content: none;
	}

	.branding {
		background: #fff;
	}

	main {
		padding: 1px 20mm;
		box-shadow: 0 0 .5em rgba(0,0,0,.25) inset;
		overflow-x: visible;
		overflow-y: auto;
	}

	.content {
		max-width: none;
		padding: 0;
	}

	.page {
		height: 290mm;
		width: 210mm;
		margin: 20mm auto;
		padding: 20mm;
		background-color: #fff;
		box-shadow: 0 0 .5em rgba(0,0,0,.25);
	}

	.page .company {
		top: 20mm;
		right: 20mm;
		bottom: 20mm;
		left: 20mm;
	}

}

@media print {

	html,
	body,
	main,
	.page {
		height: 100%;
	}

	.site {
		display: none;
	}

}

.content a {
	color: inherit;
}

.page + .page {
	page-break-before: always;
}
