section.section-demo.section-invert
	.content
		h2 Visit our website
		p.focus Nice to see you here, this is our “demo mode”. The content is created from sample files found in the #[tt /demo] folder. It will be replaced with the real deal the moment a folder named #[tt /data] can be found.
		p.focus How do you feel about visiting the actual TRINN website and see how it currently looks like?
		p.focus.call-to-action
			a.button.button-invert(href=website) Go to website
